{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'dist/index.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'dist/index.css' %}">
    <title>Snipp Dogg</title>
</head>

<body>
    <div id="sidebar">
        <a class="home-link" href="/">Snipp Dogg</a>
        {% block links %}
        {% endblock links %}
    </div>
        
    <div class="left-container">
        {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="content">
            <img class="icon" src="{% static 'boneIcon.png' %}" alt="bone icon" height="100" width="117">

            {% block content%}
            {% endblock content%}
        </div>
    </div>
</body>
</html>