{% extends "snipp_dogg/base.html" %}
{% block content %}
<h1>PlaceHolder Homepage</h1>

{% if user.is_authenticated %}
<div class="display">
    {% for snipp in snipps %}
    <div>
        <a href="{% url 'snipp_detail' snipp.id %}">
            {{ snipp.description }}
        </a>   
    </div>  
    {% endfor %}
</div>
    <p><a href="{% url 'profile' %}">Profile</a></p>
    <p><a href="{% url 'create' %}">Create Snipp</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'register' %}">Register</a></p>
{% endif %}
{% endblock content %}

