{% extends "snipp_dogg/base.html" %}
{% block content %}
    <h1> {{ user.username }} </h1>
    <form method=POST>
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit'> Search </button>
    </form>
    {% for snipp in snippets %}
        <div class=snipp>
            <h3>Title: {{snipp.title}}</h3>
            <p>Body: {{snipp.body}}</p>
            <ul>
                <li>Language: {{snipp.language}}</li>
                <li>Description: {{snipp.description}}</li>
            </ul>
            <a href='/snipp_dogg/edit/{{snipp.id}}'><button>Edit</button></a>
            <a href='/snipp_dogg/delete/{{snipp.id}}'><button>Delete</button></a>
            <a href='/snipp_dogg/display/{{snipp.id}}'><button>View Snipp</button></a>
        </div>
    {% endfor %}
    {% if searched %}
    <a href='/snipp_dogg/profile'><button>Get all Snipps Back</button></a>
    {% endif %}
{% endblock content %}